.nav{
  display: flex;
  height: 40px;
  align-items: center;
  font-style: normal;
  background-color:#2185d0;
  font-size: 40px;
  color: white;
  padding: 30px;
  overflow: hidden;
}
.inputsearch{
  display: flex;
  height: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 30px;
  align-items: center;
}
.btn{
  margin: 30px;
}
.userprofile{
  margin: 30px;
}